.anchor_pane{
    -fx-background-color: #EAEEF4;
}
.pane_azul{
    -fx-background-color: #353a56;
}
.btn_cadastrar{
    -fx-background-color: #353a56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #353a56;
}